# Bot Configuration
BOT_TOKEN=your-discord-bot-token
CLIENT_ID=your-discord-application-client-id

# Bot Activity Status
BOT_STATUS=online
ACTIVITY_TYPE=PLAYING
ACTIVITY_NAME=Discord

# NetBird Instance URL (Change if using a self-hosted instance)
NETBIRD_URL=https://api.netbird.io
# Netbird Auth Token (set to expire every 365 days)
NETBIRD_API_TOKEN=your-netbird-api-token